{% extends 'base.html.twig' %}

{% block body %}
    <h1>About Us</h1>
    <div class="about">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam asperiores assumenda at dignissimos magni modi nulla quasi ratione vitae! Deserunt excepturi impedit itaque laudantium mollitia placeat reiciendis unde velit!</p>
        <p>Consectetur consequuntur enim et inventore ipsum quasi quod ratione veniam voluptas voluptatem. Atque sed sit voluptate! Amet commodi, consectetur error ex exercitationem illum optio. Alias facere molestias nobis quasi unde.</p>
        <p>Adipisci aliquam amet at beatae commodi corporis dignissimos dolor ducimus eaque error facilis in magnam modi necessitatibus nostrum numquam quae quas quis quos repellendus similique, soluta suscipit totam unde ut!</p>
        <p>Aliquid blanditiis magnam nam. Asperiores assumenda blanditiis corporis, dignissimos doloribus eligendi harum illo incidunt itaque laboriosam neque odit, provident vitae. Autem eaque esse hic iure magni minima ratione totam unde?</p>
        <p>Molestias nam qui recusandae. Fugiat nisi nostrum odit quo temporibus. Et maiores, odit. Commodi eligendi et minima praesentium quas quis repellendus tenetur voluptate? Amet beatae esse ipsa nisi sequi, velit.</p>
    </div>

{% endblock %}

{% block title %}

{% endblock %}
