{% extends 'base.html.twig' %}

{% block body %}
    <h2>Bienvenue sur Bucket-list
        {% if app.user %}
            {{ app.user.pseudo }} \o/
        {% endif %}
    </h2>
    <h3>Les derniers souhaits :</h3>
    <div class="row">
        {% for wish in wishs %}
            <a href="{{ path('wish_detail', {'id': wish.id}) }}" title="Detail of a wish">
                <div class="col s12 m6 ">
                    <div class="card light-blue lighten-3 hoverable">
                        <div class="card-content white-text">
                            <span> {{ loop.index }} | {{ wish.category.name }}</span>
                            <span class="card-title">{{ wish.title}}</span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}