body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #EEE;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2{
    text-align: center;
}

/* nav */

.nav_div{
    text-align: center;
    margin: 20px;
}

.nav_title{
    font-family: 'Dancing Script', cursive;
    margin-top: 5px;
}

.logo_nav{
    max-width: 90px;
    transform: rotate(40deg);
}
.nav_welcome{
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* detail pages */
.detail_info{
    display: flex;
}

.detail_info_author{
    font-weight: bold;
    margin-right: 20px;
}

.detail_description{
    margin-bottom: 50px;
}

a{
    color: white !important;
}
.card .card-content{
    height: 150px;
}

/* About Page*/

.about{
    margin: 50px 20px;
}

/* Forms  */

select{
    display: block!important;
}

.submit_container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: rgba(255,255,255,0);
    border: none;
}

.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

/* Message success & error*/
.flash{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

.flash-success{
    background-color: aqua;
}

.alert{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

.alert-danger{
    background-color: darkred;
}