{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Create
{% endblock %}

{% block body %}
    <h2>Make a Wish</h2>
    <div class="form login-box input-field col s12">
        {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}
    <div class="submit_container">
        <button class="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Make a wish
        </button>
        {{ form_end(wishForm) }}

    </div>
    </div>

{% endblock %}

