{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Lists
{% endblock %}

{% block body %}

    <div>
        <div class="detail_info">
            <p class="detail_info_author">Souhaité par {{ wish.author }}</p>
            <p class="detail_info_dateCreated">le {{ wish.dateCreated | date('Y-m-d') }}</p>
            <p class="detail_category"> | Catégorie : {{ wish.category.name }}</p>
        </div>
        <div>
            <h3 class="detail_wishTitle">{{ wish.title}}</h3>
            <p class="detail_wishDescription">{{ wish.description | raw | nl2br }}</p>
        </div>
    </div>
{% endblock %}

