<footer class="page-footer cyan  teal accent-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text text-darken-3">Footer Content</h5>
                <p class="black-text text-darken-3">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text text-darken-3">Links</h5>
                <ul>
                    <li><a href="{{ path('main_home') }}" title="Accueil" >Home</a></li>
                    <li><a href="{{ path('main_about') }}" title="about us" >About us</a></li>
                    <li><a href="{{ path('wish_list') }}" title="Wishlist" >Wishlist</a></li>
                    <li><a href="{{ path('wish_create') }}" title="create a new wish" >Make a wish</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            ©Bucket-List {{ "now" | date("Y")}}
            <a class=" blue-grey-text text-darken-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>