<header>
    <div class="nav_div">

        <a class="brand-logo center " href="{{ path('main_home') }}"><iframe frameBorder="0" src="https://embed.lottiefiles.com/animation/54664"></iframe></a>
        <h1 class="nav_title">Bucket List</h1>
    </div>
    {% include 'menu/nav.html.twig' %}
</header>