<nav>
    <div class="nav-wrapper cyan  teal accent-3">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="black-text text-darken-3" href="{{ path('main_home') }}" title="Accueil" >Home</a></li>
                <li><a class="black-text text-darken-3" href="{{ path('main_about') }}" title="about us" >About us</a></li>
                <li><a class="black-text text-darken-3" href="{{ path('wish_list') }}" title="Wishlist" >Wishlist</a></li>
            {% if app.user %}
                <li><a class="black-text text-darken-3" href="{{ path('wish_create') }}" title="create a new wish" >Make a wish</a></li>
                <li><a class="black-text text-darken-3" href="{{ path('app_logout') }}" title="log out" >Log out</a></li>
                <li class="nav_welcome"> | Hello {{ app.user.pseudo }}</li>
            {% else %}
                <li><a class="black-text text-darken-3" href="{{ path('app_register') }}" title="Register" >Register</a></li>
                <li><a class="black-text text-darken-3" href="{{ path('app_login') }}" title="Log in" >Log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>